* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100%;
    /* position: relative; */
}

img {
    max-width: 100%;
    display: block;

}

.cartitem1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
}

.cartitem1 button {
    padding: 10px;
    border-radius: 50%;
}

.cartitem1 img {
    width: 100px;
}

.cart-btn {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    padding: 2rem;
}

.item {
    max-width: 1005;
    margin: 1rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.item .content .title {
    color: White;
}

.item .content .desc {
    color: White;
}

.item .content .price {
    color: White;
}

.item .img {
    margin-bottom: 10px;
}

.item .img img {
    border-radius: 10px;
}

#loaiSanPham {
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;

}

.content .count {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.content .add {
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: none;
}

/* .content .remove {
    padding: 10px;
    border-radius: 5px;
} */

#textsearch {
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
}

.locSanPham {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;

}

.product-rows .item {
    display: flex;
    border: 1px solid white;
    color: white;

}

.product-rows .item .img img {
    height: 5rem;

}

.product-rows .item .content {
    display: flex;
    align-items: center;


}

.cart-item .cart-SP {
    position: relative;
    top: 50%;
}

.cart-shop {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.fa-shopping-cart {
    color: #000;
    left: 1rem;
    bottom: 0.5rem;
}

#cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
}

.cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
}

#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 5em
}

.card {
    /*   width: 15rem; */
    margin: 1em;
    position: relative;
    overflow: hidden;
    text-align: center
}

.card:hover .add-to-cart {
    transform: translateX(0);
}

.product-image {
    margin-bottom: 1em
}

.add-to-cart {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    padding: .5em 1em;
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem
}

.product-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
}

.cart-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    z-index: 10;
    overflow: hidden;
    display: none;
    transition: .5s ease-out;

}

.product-rows {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 50%;
    top: 10%;
    flex-direction: column;
}

.cart-modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 0;
    right: 0;
    overflow: scroll;
    overflow: hidden;
}

#close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
}

.cart-modal .cart-is-empty {
    position: absolute;
    color: white;
    display: block;
    transform: translateY(1rem);
    font-size: 2rem;
    font-weight: 600;

}

.total {
    position: absolute;
    align-self: flex-end;
    flex-direction: column;
    bottom: 10%;
    margin: 10px;
    padding: 10px;
}

.total-item {
    display: flex;
}

/* .action {
    display: flex;
    justify-content: space-between;
} */

.cart-total {
    color: white;
}

.total-price {
    color: white;
    font-size: 2rem;
    display: block;
}

.purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
}

.product-row {
    display: flex;
    align-items: center;
}

.cart-image {
    width: 10rem;
    margin: 1em;
}

.cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.product-quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
}

.remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
}

.remove-btn:active {
    transform: translateY(5px);
}

@media (max-width: 1000px) {
    .cart-modal {
        width: 100vw;
    }

    .product-row {
        flex-direction: column;
        text-align: center;
        margin-bottom: 2em;
    }

    .remove-btn {
        margin: 0
    }

    .product-quantity {
        margin: .5em 0 .5em 0
    }
}

.text-white {
    color: white;
    font-size: 30px;
}